:root {
    --primary-color: #4ba2ff;
    --secondary-color: #eec870d8;
    --accent1-color: #063470;
    --accent2-color: #be7500af;
    --heading-font : "Times New Roman", "Georgia", serif;
    --body-font : Arial, Helvetica, sans-serif;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    background-color: var(--accent2-color);
    border: 2px solid black;
}

header nav { 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 0; 
    padding: 0;
}

header nav a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: black;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    padding: 8px;
    margin: 8px;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article{
    position: absolute;
    top: 30px;
    width: 100%;
    margin: 300px 0 20px;
    padding: 22px;
    text-align: center;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
}

h2 {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: black;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    gap: 20px;
}

.history h2{
    grid-column: 1/4;
}

.history p {
    column-count: 1;
    margin: 6px;
}

.history img {
    height: auto;
    width: 200px;
}

section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.adventures figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    display: block;
}

.adventures figcaption {
    font-size: smaller;
    font-weight: bold;
}

footer nav img{
    position: relative;
    width: 65px;
    height: auto;
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.socialmedia {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center; 
    margin: 0; 
    padding: 0;
}