:root{
--border:  1px solid black;
--padding: 10px;
--margin: 1rem;
--color:#333;
--height:auto;
--text-align:center;
--background-color:wheat;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main{
    grid-column: 2/3;
}

header,.grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

h1 {
    color: darkblue;
    border-bottom: var(--border);
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: var(--border);
    margin: var(--margin);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
    margin: var(--margin);
}

aside{
    width: 20rem;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2{
    position: absolute;
    top: 30px;
    left: 122px;
}

footer {
    margin-top: 15px;
    border-top: 2px dotted black;
    text-align: var(--text-align);
}

/*Class Selectors*/

.grid{
    display: grid;
    align-items: center;
}

.box{
    margin: var(--margin);
    padding: 1rem;
    border: var(--border);
    background-color: var(--background-color);
    color: var(--color);
    clear: both;
}