:root{
--border:  1px solid black;
--padding: 10px;
--margin: 1rem;
--color:#333;
--height:auto;
--text-align:center;
}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside{
    width: 20rem;
    margin: var(--margin);
    border: var(--border);
    padding: 1rem;
    background-color: wheat;
    color: var(--color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 1rem;
    border-top: 2px dotted black;
    text-align: var(--text-align);
}

/*comment
